.idea

terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

kubernetes/secrets/*

local/terraform/.terraform
local/terraform/terraform.tfstate
local/terraform/terraform.tfstate.backup
